/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

#logobooki {
    width: 95px;
    height: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.article {
    display: flex;
    align-items: center;
    /* aligne verticalement */
    gap: 10px;
    /* espace entre l'icône et le texte */
}

.article p {
    margin: 0;
    /* enlève la marge par défaut du <p> */
}

.article i {
    color: black;
}

#site-search {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

#button1 {
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #0065FC;
    padding: 4px 4px;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* 👈 important */
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}



/****** Hebergements ***********/
.hebergements {
    background-color: #e8e8e8;
    padding: 30px;
    border-radius: 20px;
}

.hebergements h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

/* Conteneur des 3 colonnes */
.conteneur-colonnes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Chaque colonne */
.hebergements1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    list-style: none;
    padding: 0;
    margin: 0;
}

/* Carte hôtel */
.carte-hotel {
    background-color: white;
    border-radius: 15px;
    padding: 10px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Image */
.carte-hotel img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
}

/* Zone texte */
.texte-hotel {
    padding-top: 10px;
}

.texte-hotel h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

.texte-hotel p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 30px;
    margin-top: 20px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    list-style: none;
    padding: 0;
}

/********activites*********/

.activites1 {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* li Activites Marseille */
.activites-marseille {
    background-color: white;
    border-radius: 15px;
    15px;
    padding: 10px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Image */
.activites-marseille img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* a tester   
    .hebergements-and-populaires {
        flex-direction: row;
    }*/

.activites-marseille img {
height: 100px;}
}